Repository badoo/RIBs, pull requests merged in 2021-06, with the labels that each got.

#309 Remove child aware callbacks when parent lifecycle is destroyed
  app-example/src/main/java/com/badoo/ribs/example/feed_container/FeedContainerInteractor.kt
  app-example/src/main/java/com/badoo/ribs/example/logged_in_container/LoggedInContainerInteractor.kt
  app-example/src/main/java/com/badoo/ribs/example/logged_out_container/LoggedOutContainerInteractor.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/clienthelper/childaware/ChildAware.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/clienthelper/childaware/ChildAwareCallbackInfo.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/clienthelper/childaware/ChildAwareExt.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/clienthelper/childaware/ChildAwareImpl.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/clienthelper/childaware/ChildAwareScope.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/clienthelper/childaware/LifecycleExt.kt
  libraries/rib-base/src/test/java/com/badoo/ribs/clienthelper/childaware/ChildAwareImplTest.kt
  libraries/rib-base/src/test/java/com/badoo/ribs/core/lifecycle/MinimumCombinedLifecycleTest.kt
  libraries/rib-base/src/test/java/com/badoo/ribs/core/lifecycle/TestLifecycle.kt
  libraries/rib-mvicore/src/main/java/com/badoo/ribs/mvicore/ChildAwareExt.kt
  sandbox/src/main/java/com/badoo/ribs/sandbox/rib/switcher/SwitcherInteractor.kt
Labels: bug

#301 Upgrade to Gradle 7 and fix breaking changes
  gradle/dependencies.gradle
  gradle/gradle-mvn-push.gradle
  gradle/wrapper/gradle-wrapper.properties
  tooling/rib-intellij-plugin/build.gradle
Labels: build-ci-publishing

#291 Remove Handler abuse from OngoingTransition
  gradle/dependencies.gradle
  gradle/utils.gradle
  libraries/rib-base/src/androidTest/java/com/badoo/ribs/android/dialogkeyboard/AlertDialogKeyboardTest.kt
  libraries/rib-base/src/androidTest/java/com/badoo/ribs/android/lifecycle/BaseNodesTest.kt
  libraries/rib-base/src/androidTest/java/com/badoo/ribs/android/lifecycle/transition/ReplaceTwoWithTransitionTest.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/minimal/reactive/Operators.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/minimal/reactive/Relay.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/routing/state/feature/OngoingTransition.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/routing/transition/progress/MultiProgressEvaluator.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/routing/transition/progress/ProgressEvaluator.kt
  libraries/rib-base/src/main/java/com/badoo/ribs/routing/transition/progress/SingleProgressEvaluator.kt
  libraries/rib-base/src/test/java/com/badoo/ribs/routing/state/feature/OngoingTransitionTest.kt
  libraries/rib-base/src/test/java/com/badoo/ribs/routing/transition/progress/MultiProgressEvaluatorTest.kt
  sandbox/src/androidTest/java/com/badoo/ribs/sandbox/rib/menu/MenuViewTest.kt
Labels: enhancement

#283 Create Permissions sample application
  samples/permissions/.gitignore
  samples/permissions/build.gradle
  samples/permissions/detekt-baseline.xml
  samples/permissions/proguard-rules.pro
  samples/permissions/src/main/AndroidManifest.xml
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/app/PermissionsSampleActivity.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child1/PermissionsSampleChild1.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child1/PermissionsSampleChild1Builder.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child1/PermissionsSampleChild1Node.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child1/PermissionsSampleChild1Presenter.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child1/PermissionsSampleChild1View.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child2/PermissionsSampleChild2.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child2/PermissionsSampleChild2Builder.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child2/PermissionsSampleChild2Node.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child2/PermissionsSampleChild2Presenter.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/child2/PermissionsSampleChild2ViewImpl.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/parent/PermissionsSampleParent.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/parent/PermissionsSampleParentBuilder.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/parent/PermissionsSampleParentNode.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/parent/PermissionsSampleParentView.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/parent/routing/PermissionsSampleParentChildBuilder.kt
  samples/permissions/src/main/java/com/badoo/ribs/samples/permissions/rib/parent/routing/PermissionsSampleParentRouter.kt
  samples/permissions/src/main/res/layout/activity_permissions_sample.xml
  samples/permissions/src/main/res/layout/rib_permissions_sample.xml
  samples/permissions/src/main/res/layout/rib_permissions_sample_parent.xml
  samples/permissions/src/main/res/values/strings.xml
  settings.gradle
Labels: demo app

#284 Added new sample demonstrating launching activities
  samples/android-integration/launching-activities/.gitignore
  samples/android-integration/launching-activities/build.gradle
  samples/android-integration/launching-activities/detekt-baseline.xml
  samples/android-integration/launching-activities/src/androidTest/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/LaunchingActivitiesParentTest.kt
  samples/android-integration/launching-activities/src/main/AndroidManifest.xml
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/app/OtherActivity.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/app/RootActivity.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child1/LaunchingActivitiesChild1.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child1/LaunchingActivitiesChild1Builder.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child1/LaunchingActivitiesChild1Node.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child2/LaunchingActivitiesChild2.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child2/LaunchingActivitiesChild2Builder.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child2/LaunchingActivitiesChild2Node.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child_common/LaunchingActivitiesChildBase.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child_common/LaunchingActivitiesChildInteractor.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/child_common/LaunchingActivitiesChildView.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/parent/LaunchingActivitiesParent.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/parent/LaunchingActivitiesParentNode.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/parent/LaunchingActivitiesParentRouter.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/parent/LaunchingActivitiesParentView.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/parent/builder/LaunchingActivitiesChildBuilders.kt
  samples/android-integration/launching-activities/src/main/java/com/badoo/ribs/samples/android_integration/launching_activities/rib/parent/builder/LaunchingActivitiesParentBuilder.kt
  samples/android-integration/launching-activities/src/main/res/layout/activity_root.xml
  samples/android-integration/launching-activities/src/main/res/layout/other_activity.xml
  samples/android-integration/launching-activities/src/main/res/layout/rib_launching_activities_child.xml
  samples/android-integration/launching-activities/src/main/res/layout/rib_launching_activities_root.xml
  samples/android-integration/launching-activities/src/main/res/values/strings.xml
  settings.gradle
Labels: demo app

#280 Sample App - Greetings app
  samples/communication-between-nodes/.gitignore
  samples/communication-between-nodes/build.gradle
  samples/communication-between-nodes/detekt-baseline.xml
  samples/communication-between-nodes/proguard-rules.pro
  samples/communication-between-nodes/src/androidTest/java/com/badoo/ribs/samples/comms_nodes/rib/greeting_container/GreetingContainerTest.kt
  samples/communication-between-nodes/src/main/AndroidManifest.xml
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/app/RootActivity.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting/Greeting.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting/GreetingBuilder.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting/GreetingNode.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting/GreetingPresenter.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting/GreetingView.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting_container/GreetingContainer.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting_container/GreetingContainerBuilder.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting_container/GreetingContainerInteractor.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting_container/GreetingContainerNode.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting_container/routing/GreetingContainerChildBuilder.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/greeting_container/routing/GreetingContainerRouter.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/language_selector/Language.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/language_selector/LanguageSelector.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/language_selector/LanguageSelectorBuilder.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/language_selector/LanguageSelectorNode.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/language_selector/LanguageSelectorPresenter.kt
  samples/communication-between-nodes/src/main/java/com/badoo/ribs/samples/comms_nodes/rib/language_selector/LanguageSelectorView.kt
  samples/communication-between-nodes/src/main/res/layout/activity_root.xml
  samples/communication-between-nodes/src/main/res/layout/rib_greeting.xml
  samples/communication-between-nodes/src/main/res/layout/rib_language_selector.xml
  samples/communication-between-nodes/src/main/res/values/strings.xml
  settings.gradle
Labels: demo app
